DEBUG=false

SECRET_KEY=xxxxxxxx

MONGO_URI=mongodb://mongo:27017
MONGO_DB_NAME=ganabosques

API_BASE_URL=http://ganabosques-api:8000

GEOSERVER_URL=http://geoserver:8080/geoserver
GEOSERVER_USER=admin
GEOSERVER_PWD=geoserver
GEO_WORKSPACE=deforestation

KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_REALM=GanaBosques
KEYCLOAK_CLIENT_ID=GanaBosques
KEYCLOAK_CLIENT_SECRET=xxxxxxxx