{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="text-center mb-4">
        <h2 class="fw-bold">GanaBosques Admin</h2>
        <p class="lead text-muted">Gestiona todos los parámetros de Ganabosques desde este sistema y explora los módulos disponibles a continuación.</p>
    </div>

    <!-- Imagen destacada -->
    <div class="text-center mb-5">
        <!--<img src="{{ url_for('static', filename='img/banner_vacas.png') }}" class="img-fluid rounded shadow-sm" alt="Banner ganado">-->
        <img src="{{ url_for('static', filename='img/banner_vacas.png') }}"
            class="img-fluid rounded shadow-sm"
            alt="Banner ganado"
            style="height: 315px; object-fit: cover; width: 100%;">
    </div>

    <!-- Primera fila: 3 boxes -->
    <div class="row justify-content-center mb-4">
        <div class="col-md-4">
            <a href="{{ url_for('spatial.upload_file') }}" class="text-decoration-none text-dark">
                <div class="card h-100 shadow-sm text-center">
                    <div class="card-body">
                        <div class="display-6 mb-2"><i class="fa-solid fa-download"></i></div>
                        <h5 class="card-title">Importar Datos Espaciales</h5>
                        <p class="card-text small">Carga archivos de datos al sistema para su procesamiento, análisis o visualización posterior.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="" class="text-decoration-none text-dark"></a>
            <div class="card h-100 shadow-sm text-center">
                <div class="card-body">
                    <div class="display-6 mb-2"><i class="fa-solid fa-user-gear"></i></div>
                    <h5 class="card-title">Gestión de Usuarios</h5>
                    <p class="card-text small">Administra los perfiles, permisos y accesos de los usuarios registrados en la plataforma.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a href="" class="text-decoration-none text-dark"></a>
            <div class="card h-100 shadow-sm text-center">
                <div class="card-body">
                    <div class="display-6 mb-2"><i class="fa-solid fa-truck-fast"></i></div>
                    <h5 class="card-title">Importar Proveedores</h5>
                    <p class="card-text small">importa y administra los códigos de proveedores asociados a fincas y años específicos para facilitar el monitoreo.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Segunda fila: 1 box de ancho completo -->
    <div class="row">
        <div class="col-12">
            <a href="" class="text-decoration-none text-dark"></a>
            <div class="card h-100 shadow-sm text-center">
                <div class="card-body">
                    <div class="display-6 mb-2"><i class="fa-solid fa-pen-to-square"></i> </div>
                    <h5 class="card-title">Gestión de Datos</h5>
                    <p class="card-text small">Organiza y actualiza la jerarquía territorial del país a nivel de departamentos, municipios y veredas para estructurar correctamente tus análisis.</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
